<div class="fr-field-state-write-wrapper" ng-show="field.state.editMode">
    <div ng-show="!field.to.multiple" class="checkboxWrapper">
        <input
            fr-validation
            ng-model="ngModel"
            ng-class="{checked: ngModel !== undefined && ngModel}"
            validation="field.validation"
            id="{{field.attrs.id}}"
            name="{{field.attrs.name}}"
            type="checkbox" />

        <label ng-if="field.to.label" for="{{field.attrs.id}}">
            <span class="label single-checkbox-label" ng-class="{required: field.validation.required && !field.to.displayLabel}">
                {{field.to.label}}
            </span>
        </label>
    </div>
    <div
        ng-show="field.to.multiple"
        ng-model="ngModel"
        fr-validation
        validation="field.validation"
        valid-callback="validationValidHandler()"
        invalid-callback="validationInvalidHandler(message)"
        id="{{ 'fr-' + field.attrs.id }}"
        name="{{field.attrs.name}}"
        class="fr-checkbox">

        <div ng-repeat="option in field.to.valueOptions" class="checkboxWrapper">
            <input
                ng-model="option.checked"
                ng-change="updateModel(option)"
                ng-class="{checked: option.checked !== undefined && option.checked}"
                id="{{field.attrs.id}}-{{$index}}"
                name="{{field.attrs.id}}-{{$index}}"
                type="checkbox" />

            <label for="{{field.attrs.id}}-{{$index}}">{{option.value}}</label>
        </div>
    </div>
</div>
<div class="fr-field-state-read-wrapper" ng-if="!field.state.editMode">

    <div class="fr-p">
        <ul ng-if="field.to.multiple">
             <li ng-repeat="option in ngModelInit">
                 {{getValueFromOptions(option)}}
             </li>
        </ul>
        <div ng-if="!field.to.multiple">
            {{booleanToReadableString(ngModelInit)}}
        </div>
    </div>
</div>
